		body {
			margin: 0;
			display: flex;
			justify-content: center;
			background-color: #fefefe;
		}
		
		#box {
			width: 1200px;

		}
		
		#header {
			margin-left: 35px;
			color: #064420;
		}
		
		.nav-container {
			display: flex;
			flex-direction: row;
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: #faf1e6;

		}
		
		#content-wrap {
			margin: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		
		
		.nav-item {
			padding: 0;
			text-align: center;
			list-style-type: none;
			margin:0;
			
		}
		
		.checked {
			background-color: #b2b8a3;
		}
		
		.nav-item a {
			cursor: pointer;
			width: 100px;
			display: inline-block;
			padding: 25px 50px;
			margin: 0;
			text-decoration: none;
			color: #2f5d62;
			font-weight: bold;
		}
		
		.nav-item:hover{
			background-color: #b2b8a3;

		}

		
		.nav-item:nth-child(1){
			height: 75px;
			line-height: 25px;
			font-size: 25px;
			font-weight: bold;
			margin-right:auto;
		}
		.nav-item:nth-child(1) a {
			color: #064420;
			width: 160px;
		}
		
		.nav-item:nth-child(1):hover {
			background-color: #faf1e6;
		}
		
		table {
			border-collapse: collapse;
			width: 800px;
			font-size: 17px;
			border: 1px solid #b2b8a3;
			background-color: white;
		}

		tr {
			border-bottom: 1px solid #b2b8a3;
		}

        
